<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Barter Listings</h1>

<ul>
  <% listings.forEach(listing => { %>
    <li>
      <strong><%= listing.title %></strong><br>
      <a href="/listings/<%= listing._id %>/barter" class="btn-e ">Barter</a>
    </li>
  <% }) %>
</ul>
</body>
</html>