







<% layout("layouts/boilerplate") %>

<% layout("layouts/boilerplate") %>

<div class="alert alert-danger col-6 offset-3 p-2" role="alert">
  <p class="alert-heading">⚠️ Error</p>
  <p><%= message %></p>
</div>
